html {
  border-image: linear-gradient(to top left, #ffd6ff, #bbd0ff) 30;
  border-width: 0.75em;
  border-style: solid;
}
html body {
  font-family: "Gamja Flower";
  color: #b19eeb;
}
html body .container {
  margin: 7.51em;
}
html body .container .times {
  display: flex;
  justify-content: center;
}
html body .container .times .start-end {
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  font-size: 1.75em;
  margin: 0 2em;
  background: linear-gradient(white, white) padding-box, linear-gradient(to top right, #ffd6ff, #bbd0ff) border-box;
  border-radius: 3em;
  border: 4px solid transparent;
  width: 10em;
}
html body .container .times .start-end h3 {
  font-size: 1.5em;
}
html body .container .remaining {
  text-align: center;
  margin: 3em;
  font-size: 1.75em;
}
html body .container .remaining h2 {
  font-size: 1.35em;
}
