input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 10px 0;
  border: none;
  background: #f1f1f1;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #abcc88;
  margin-bottom: 25px;
}
.registerbtn {
  background-color: #abcc88;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity: 1;
}
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
.success-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Dongle';
}
#logout {
  width: fit-content;
  margin-left: 40em;
  font-size: 2em;
  padding: 0.25em 0.5em;
}
#success {
  color: #abcc88;
  font-size: 15em;
  margin-top: 0.5em;
}
