<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/universal.css" />
    <link rel="stylesheet" href="~/css/project.css" />

    <title>Portfolio 2</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="./">Home</a>
        <a class="active-page" id="projects-nav" href="./projects">Projects</a>
        <a href="./contact">Contact</a>
      </nav>
      <h1>My Projects</h1>
    </header>

    <main>
      <div class="project">
        <span class="circle">
          <img
            src="~/images/choco.png"
            alt="chocolate cake pixel art"
            class="project-img"
          />
        </span>
        <div class="project-desc">
          <h3>Project Chocolate</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita
            aut omnis porro nulla deserunt illo. Dolores veniam neque
            consequatur, vel aliquid rerum perferendis dicta excepturi animi in
            eligendi ipsa cum. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Autem perferendis reprehenderit velit, asperiores
            sunt rem molestias. Voluptatem ad quasi temporibus architecto
            obcaecati reprehenderit ex provident ipsum, est necessitatibus ea
            deleniti? Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Quibusdam dicta doloremque sunt. Distinctio maiores alias
            voluptatibus vel in veritatis earum molestiae ab esse eligendi
            perferendis porro, obcaecati eaque corrupti soluta.
          </p>
        </div>
      </div>

      <div class="project">
        <span class="circle">
          <img
            src="~/images/strawberry2.png"
            alt="strawberry shortcake pixel art"
            class="project-img"
          />
        </span>
        <div class="project-desc">
          <h3>Project Strawberry</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita
            aut omnis porro nulla deserunt illo. Dolores veniam neque
            consequatur, vel aliquid rerum perferendis dicta excepturi animi in
            eligendi ipsa cum. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Autem perferendis reprehenderit velit, asperiores
            sunt rem molestias. Voluptatem ad quasi temporibus architecto
            obcaecati reprehenderit ex provident ipsum, est necessitatibus ea
            deleniti? Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Quibusdam dicta doloremque sunt. Distinctio maiores alias
            voluptatibus vel in veritatis earum molestiae ab esse eligendi
            perferendis porro, obcaecati eaque corrupti soluta.
          </p>
        </div>
      </div>

      <div class="project">
        <span class="circle">
          <img
            src="~/images/keylime.png"
            alt="key lime pie pixel art"
            class="project-img"
          />
        </span>
        <div class="project-desc">
          <h3>Project Key Lime</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita
            aut omnis porro nulla deserunt illo. Dolores veniam neque
            consequatur, vel aliquid rerum perferendis dicta excepturi animi in
            eligendi ipsa cum. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Autem perferendis reprehenderit velit, asperiores
            sunt rem molestias. Voluptatem ad quasi temporibus architecto
            obcaecati reprehenderit ex provident ipsum, est necessitatibus ea
            deleniti? Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Quibusdam dicta doloremque sunt. Distinctio maiores alias
            voluptatibus vel in veritatis earum molestiae ab esse eligendi
            perferendis porro, obcaecati eaque corrupti soluta.
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
