<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Passcode Generator</title>
    <link rel="stylesheet" href="~/css/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Passcode Generator</h1>
      </header>
      <div class="card">
        <div class="card-header">
          <h2>Random Passcode #@Model</h2>
        </div>
        <div class="card-body">
          <textarea
            readonly
            id="password"
            placeholder="Your Random Passcode"
            aria-label="Generated Password"
          >
        @{
          Random rand = new Random();
          string valid = "ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890";
          char[] arr = new char[14];
          for(int i = 0; i < arr.Length; i++ ){
            arr[i] = valid[rand.Next(valid.Length)];
          }
          string passcode = new string(arr);
          @passcode
        }
        
        </textarea
          >
        </div>
        <form class="card-footer">
          <button class="btn">
            <a id="generate" href="Generate">Generate Passcode</a>
          </button>
        </form>

        <!-- <button id="generate" class="btn"><a href="Generate">Generate Password</a></button> -->
      </div>
    </div>
  </body>
</html>
