main {
  border: solid 0.25em #ffa0b0;
  padding: 1.5em;
}
main .project {
  display: flex;
  align-items: center;
  padding: 1em;
}
main .project .circle {
  background-color: #ffa0b0;
  border-radius: 50%;
  width: 100%;
}
main .project .circle .project-img {
  width: 80%;
  padding: 1em;
}
main .project .project-desc {
  margin-left: 2em;
}
