<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/universal.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <title>Portfolio 2</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a class="active-page" href="./">Home</a>
        <a id="projects-nav" href="./projects">Projects</a>
        <a href="./contact">Contact</a>
      </nav>
      <h1>About Me</h1>
    </header>
    <main>
      <div class="left">
        <img src="~/images/baker.png" alt="pusheen cat baker" />
        <p>Bobothy Jones</p>
        <p>I love to code!</p>
        <p>And Bake!</p>
      </div>
      <div class="right">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora
          laborum optio tenetur earum error esse praesentium? Inventore, nostrum
          numquam distinctio accusamus voluptatum mollitia. Quasi numquam atque
          commodi debitis totam culpa?Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Possimus dolores suscipit officiis aspernatur
          repudiandae, sit atque nesciunt quae facilis nihil, eos mollitia ut.
          Saepe distinctio ipsam laboriosam unde doloribus esse. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Animi dolore assumenda
          delectus nostrum tempore in, adipisci, culpa laboriosam aspernatur
          sunt incidunt maxime accusamus! Optio esse nostrum aliquid tempora,
          natus est?Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Fugiat, repudiandae. Assumenda, voluptates. Corporis consequatur
          pariatur voluptatem animi cum totam labore commodi quod dicta possimus
          ex, maiores autem modi, accusantium quisquam?
        </p>
      </div>
    </main>
  </body>
</html>
