<!-- @{
    ViewData["Title"] = "Privacy Policy";
} -->

<head>
  <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
</head>
<body>
  <header class="dash-head">
    <h1 class="name">Welcome name!</h1>

    <form action="">
      <button class="logout">Log Out</button>
    </form>
    <!-- <hr /> -->
  </header>

  <main class="dash-main">
    <h2># :)</h2>

    <div class="math">
      <div class="add-sub">
        <button class="yellow">+1</button>
        <button class="blue">-1</button>
      </div>
      <div class="mult-rand">
        <button class="red">x2</button>
        <button class="green">+ Random</button>
      </div>
    </div>
  </main>
</body>
<!-- <p>Use this page to detail your site's privacy policy.</p> -->
