@charset "ISO-8859-1";

body {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
